@import url("https://fonts.googleapis.com/css?family=Roboto Mono:wght@400;700&display=swap");

:root {
    --font-family: 'Roboto Mono';
    --primary-font-size: 10rem;
    --normal-font: 400;
    --bold-font: 700;
}

span {
    animation: blinker 1s linear infinite;
}

.typer {
    font-family: var(--font-family);
    font-weight: var(--bold-font);
    font-size: 7rem;
    color: #4FAE7D;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

@media screen and (max-width: 720px) {
    .typer {
        font-size: 4rem;
    }
}